@font-face
{
    font-family: "Funnel Sans";
    src: url(assets/fonts/funnel-sans/static/FunnelSans-SemiBold.ttf);
}

@font-face
{
    font-family: "Cormorant Garamond";
    src: url(assets/fonts/cormorant-garamond/CormorantGaramond-SemiBold.ttf);
}

@keyframes arrow-down-animation
{
    0%, 100%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-1.5vh);
    }
}

html, body
{
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body
{
    margin: 0;
    font-family: "Funnel Sans", sans-serif;    
    font-size: 2vh;
    color: white;
    text-decoration: none;
    text-align: center;
    background-repeat: no-repeat;
    background-position-y: top;
}

.container
{
    position: relative;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.section
{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
}

.section:nth-child(1)
{
    background: url(assets/pictures/background/background-0.png);
    background-size: cover;
    background-position: center;
}

.section:nth-child(2)
{
    background: url(assets/pictures/background/background-1.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.section:nth-child(3)
{
    background: url(assets/pictures/background/background-2.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.section:nth-child(4)
{
    background: url(assets/pictures/background/background-3.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.section:nth-child(5)
{
    background: url(assets/pictures/background/background-4.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* Section 1 */

.header
{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 2vh;
}

.header img
{
    height: 7vh;
}

.studio-logo
{
    position: absolute;
    left: 2vh;
}

.social-links
{
    position: absolute;
    right: 2vh;
}

.social-links img
{
    transition: all 0.25s ease;
    padding-inline: 2.5px;
}

.social-links img:hover
{
    transition: all 0.25s ease;
    transform: scale(1.1);
}

.section-1-center-element
{
    margin-top: 11vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.play-button
{
    margin-top: 5vh;
}

.main-artwork img
{
    width: 45vw;
    min-width: 350px;
}

.play-button img
{
    transition: all 0.25s ease;
    width: 20vw;
    min-width: 125px;
}

.play-button img:hover
{
    transition: all 0.25s ease;
    transform: scale(1.1);
}

.game-information
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: 2vh;
    left: 2vh;
    gap: 1vh;
    font-size: 2vh;
}

.legal-links a
{
    color: inherit;
    text-decoration: inherit;
    margin-inline-end: 5px;
}

.game-information img
{
    height: 10vw;
    max-height: 300px;
}

.arrow-down
{
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    transform: translateX(-50%);
    animation: arrow-down-animation 2.5s infinite;
}

.arrow-down img
{
    transition: all 0.25s ease;
    transform: rotate(-90deg); /* Temp change */
    width: 3.75vw;
    min-width: 100px;
}

.arrow-down img:hover
{
    transition: all 0.25s ease;
    transform: rotate(-90deg) /* Temp change */
    /* transform: */ scale(1.1);
}

/* Section 2 */

.screenshot
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5vh;
}

.screenshot-frame
{
    z-index: 1;
}

.screenshot-image
{
    position: absolute;
    top: 20px;
}

.screenshot-frame img
{
    width: 40vw;
    min-width: 400px;
}

.screenshot-image img
{
    width: 37vw;
    min-width: 370px;
}

.screenshot-arrow
{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: max(42vw, 400px);
}

.screenshot-arrow img
{
    width: 5vw;
    min-width: 50px;
}

.screenshot-arrow-left img,
.screenshot-arrow-right img
{
    transition: all 0.25s ease;
}

.screenshot-arrow-left img:hover,
.screenshot-arrow-right img:hover
{
    transition: all 0.25s ease;
    transform: scale(1.1);
}

.image-selector
{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

/* Disabled */

/* .screenshot-thumbnail
{
    transition: all 0.25s ease;
}

.screenshot-thumbnail:hover
{
    transition: all 0.25s ease;
    transform: scale(1.1);
} */

.image-selector img
{
    width: 10vw;
}

.screenshot-thumbnail-frame
{
    position: absolute;
    transform: translateX(-1vw) translateY(-0.25vh); /* Temp to adjust with screenshot thumbnail */
}

.screenshot-thumbnail-frame img
{
    width: 12vw;
}

.screenshot-thumbnail-image img
{
    border-top-left-radius: 2vw;
    border-bottom-right-radius: 1vw;
}

/* Section 3 */

.video
{
    margin-top: max(7.5vh, 7.5vw);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 7.5vw;
}

.video-main-section
{
    display: flex;
    flex-direction: column;
}

.video-player
{
    position: absolute;
    z-index: 1;
}

.main-video
{
    width: 35.6vw;
}

.video-frame
{
    transform: translateX(-2.35vw) translateY(-3.4vw); /*Temp adjust frame position */
}

.video-frame img
{
    width: 40vw;
}

.video-selector
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5vh;
}

.video-selector img
{
    transition: all 0.25s ease;
    width: 12vw;
}

.video-selector img:hover
{
    transition: all 0.25s ease;
    transform: scale(1.05);
}

.video-selector img.active
{
    transition: all 0.25s ease;;
    transform: scale(1.1);
}

.video-arrow
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.video-arrow-left img,
.video-arrow-right img
{
    transition: all 0.25s ease;
    width: 5vw;
    min-width: 50px;
}

.video-arrow-left img:hover,
.video-arrow-right img:hover
{
    transition: all 0.25s ease;
    transform: scale(1.1);
}

.video-dot img
{
    transition: all 0.25s ease;
    width: 2.5vw;
}

.video-dot img.active
{
    transition: all 0.25s ease;
    transform: scale(1.25);
}

/* Section 4 */

/* Section 5 */


/* Mobile view */

@media (max-device-width: 768px)
{
    /* Section 1 */

    .section-1-center-element
    {
        margin-top: 50%;
    }

    .main-artwork img
    {
        width: 80vw;
    }

    .play-button img
    {
        width: 50vw;
    }

    .game-information
    {
        font-size: 27.5px;
    }

    /* Section 2 */

    .screenshot
    {
        margin-top: 50%;
    }

    .screenshot-frame img
    {
        width: 80vw;
    }

    .screenshot-image img
    {
        width: 76vw;
    }

    .screenshot-arrow
    {
        gap: 82vw
    }

    .screenshot-arrow img
    {
        width: 8vw;
    }
}
