body
{
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(251, 255, 239, 0.877);
}
.navigation-bar
{
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: rgb(36, 80, 65);
}
.name
{
    margin: 30px;
}
.name img
{
    margin: 40px;
    border-radius: 10%;
    box-shadow: 0px 0px 10px black;
    width: 100px;
    height: auto;
}
.description
{
    padding: 30px;
    font-size: 10px;
}
.screenshots img
{
    width: 50%;
    height: auto;
    margin-top: 15px;
    border-radius: 5px;
}
.feature
{
    margin: 30px;
    text-align: left;
}
ul.feature-list
{
    display: inline-block;
}
#game-store
{
    margin: 30px;
}
#game-store img
{
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
    height: 50px;
}
footer
{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 105, 85);
}